[Unit]
Description="Blomp Main storage"
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStartPre=+/bin/mkdir -p /media/blomp-chunker-archive
ExecStart=/usr/bin/rclone  mount blomp-chunker-archive: /media/blomp-chunker-archive \
	--config /root/.config/rclone/rclone.conf \
	--no-modtime \
	--no-checksum \
	--no-seek \
	--allow-non-empty \
	--allow-other \
	--vfs-cache-mode full \
	--vfs-cache-max-age 10m \
	--poll-interval 30s \
	--dir-cache-time 60m \
	--transfers 128 \
	--checkers 128 \
	--file-perms 0666 \
	--dir-perms 0777 \
	--uid 1000 \
	--gid 1000 \
	--umask 0755 \
	--log-level DEBUG \
	--log-systemd
ExecStop=/bin/fusermount -uz /media/blomp-chunker-archive
ExecStopPost=+/bin/rm -r /media/blomp-chunker-archive
Restart=on-abort
RestartSec=2

[Install]
WantedBy=multi-user.target